body, html {
    font-size: 16px;
    max-width: 1440px;
    margin: 0 auto;
  }

.product-detail-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background: var(--primary-color);
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
}

.product-overview {
    display: flex;
    margin: 0 auto;
    gap: 74px;
}

.main-product-image {
    max-width: 520px;
}

.main-image {
    width: 100%;
    height: 785px;
    object-fit: cover;
}

.product-details {
    max-width: 393px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.breadcrumbs {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.breadcrumbs a,
.rating-score,
.rating-count,
.section-title,
.size-option,
.product-price,
.add-to-cart {
    font-family: var(--font-main);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--text-color);
}

.breadcrumbs a,
.rating-score,
.rating-count,
.section-title,
.product-price,
.add-to-cart {
    font-size: clamp(0.875rem, 2vw, 1.125rem); 
}

.breadcrumbs a {
    text-decoration: none;
}

.product-title {
    color: var(--secondary-color);
    font-family: var(--font-heading);
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.68px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 88px;
}

.product-rating,
.stars {
    display: flex;
    gap: 10px;
}

.rating-icon {
    width: 22px;
    height: 22px;
}

.rating-score { margin-left: 15px; }

.comments {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 25px;
}

.comment-icon {
    width: 22px;
    height: 22px;
}

.section-title {
    font-weight: 600;
    margin-bottom: 15px;
}

.product-sizes {
    display: flex;
    gap: 20px; 
    align-items: center;
}

.size-option {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1.5px solid #BEBCBD;
    text-align: center;
    color: #3C4242;
    font-size: 0.875rem;
    background: var(--primary-color);
    cursor: pointer;
}

.product-colors {
    display: flex;
    gap: 20px;
}

.color-option {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    padding: 0;
    background: currentColor;
    transition: border 0.3s ease;
}

.action-row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.add-to-cart,
.product-price {
    display: flex;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
}

.add-to-cart {
    background: #8A33FD;
    color: var(--primary-color);
    text-align: center;
    font-weight: 600;
    /*width: 202px;*/
    height: 46px;
    border: none;
    cursor: pointer;
    position: relative;
}

.cart-icon {
    width: 20px;
    height: 20px;
    display: inline-block; 
    vertical-align: middle; 
}

.add-to-cart:hover {
    background: #6d28c4; 
}

.product-price {
    border: 1px solid #3C4242;
    text-align: center;
    font-weight: 700;
    width: 137px;
    height: 46px;
}

.product-description-section {
    display: flex;
    gap: 97px;
    align-items: flex-start;
    padding: 100px;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.description-content {
    flex: 1;
    display: flex;
    gap: 97px;
    align-items: flex-start;
}

.text-content {
    flex: 1 1 50%;
}

.title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.vertical-line {
    width: 6px;
    height: 28px;
    flex-shrink: 0;
    background: #8A33FD;
}

.description-content h2 {
    color: var(--secondary-color);
    font-family: var(--font-heading);
    font-size: clamp(1.5rem, 2vw, 28px);
    font-style: normal;
    font-weight: 600;
    line-height: 33.5px;
    letter-spacing: 0.56px;
    margin: 0;
}

.description-content p {
    color: #807D7E;
    font-family: Lato;
    font-size: clamp(14px, 1.5vw, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.32px;
    margin: 30px 0;
}

.features-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background: #f9f9f9;
    border-radius: 12px;
    overflow: hidden;
    height: 150px;
}

.features-table td {
    padding: clamp(0.5rem, 1vw, 15px);
    font-family: Lato;
    font-size: clamp(14px, 1.5vw, 16px);
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.32px;
    text-align: left;
    border: 1px solid #ddd;
    vertical-align: top;
}

.features-table tr:first-child td {
    color: #807D7E;
    font-weight: 400;
    background: #F6F6F6;
}

.features-table tr:last-child td {
    color: var(--secondary-color);
    font-weight: 500;
    background: #F6F6F6;
}

.features-table td:first-child {
    border-left: none;
}

.features-table td:last-child {
    border-right: none;
}

.features-table tr:first-child td {
    border-top: none;
}

.features-table tr:last-child td {
    border-bottom: none;
}

.table-cell-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.cell-title {
    font-weight: 400;
    color: #807D7E;
}

.cell-value {
    font-weight: 500;
    color: var(--secondary-color);
}

.video-container {
    width: 532px;
    height: 328px;
    flex-shrink: 0;
    position: relative;
}

.product-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



@media (max-width: 992px) {
    .product-overview {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    
    .main-product-image {
        max-width: 80%;
    }
    
    .main-image {
        height: auto;
        max-height: 40rem;
        object-position: center top;
    }
    
    .product-details {
        max-width: 80%;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .main-product-image {
        max-width: 100%;
    }
    
    .product-details {
        max-width: 100%;
        padding: 0 1rem;
    }
    
    .product-sizes {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    
    .action-row {
        max-width: 100%;
        flex-wrap: wrap;
    }
    
    .add-to-cart,
    .product-price {
        flex: 1;
        min-width: 200px; 
    }
}

@media (max-width: 576px) {

    .main-image {
        max-height: 25rem;
    }
    
    .breadcrumbs a,
    .rating-score,
    .rating-count,
    .section-title,
    .add-to-cart,
    .product-price {
        font-size: 1rem;
    }
    
    .product-title {
        font-size: 1.5rem;
    }
    

    .product-rating {
        flex-wrap: wrap;
        row-gap: 0.5rem;
    }
    
    .stars {
        order: 1;
    }
    
    .rating-score {
        order: 2;
        margin-left: 0;
    }
    
    .comments {
        order: 3;
        margin-left: 0;
        width: 100%;
    }
    

    .action-row {
        justify-content: space-between;
    }
    
    .add-to-cart,
    .product-price {
        min-width: calc(50% - 10px); 
        flex: none;
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
    }
}

@media (max-width: 400px) {
    .main-image {
        max-height: 20rem;
    }
    
    .add-to-cart,
    .product-price {
        min-width: 100%; 
    }
    
    .product-sizes {
        gap: 0.75rem;
    }
    
    .size-option {
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
    }
}