body, html {
    font-size: 16px;
    max-width: 90rem;
    margin: 0 auto;
  }

.catalog-container {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    /*background: var(--bg-color);*/
    font-family: var(--font-main);
    gap: 30px;
}

.filters-sidebar {
    width: 250px;
    background: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    position: sticky;
    top: calc(var(--header-height) + 20px);
}

.filters-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.clear-filters {
    background: none;
    border: 1px solid var(--secondary-color);
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--secondary-color);
    transition: var(--transition-base);
}

.clear-filters:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.filter-section {
    margin-bottom: 25px;
}

.filter-title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 10px;
    font-family: var(--font-heading);
}

.sort-select, .style-select, .search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    font-size: 0.9rem;
    background: var(--primary-color);
    color: var(--secondary-color);
    transition: var(--transition-base);
}

.sort-select:focus, .style-select:focus, .search-input:focus {
    border-color: var(--secondary-color);
    outline: none;
}

.search-input {
    padding: 8px 12px;
}

.filter-list {
    list-style: none;
    padding: 0;
}

.filter-list li {
    margin-bottom: 10px;
}

.filter-list input {
    margin-right: 8px;
}


.price-range {
    position: relative;
}

.price-slider {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: var(--text-color);
    outline: none;
    opacity: 0.7;
    transition: opacity var(--transition-base);
}

.price-slider:hover {
    opacity: 1;
}

.price-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--secondary-color);
    cursor: pointer;
    border-radius: 50%;
}

.price-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: var(--secondary-color);
    cursor: pointer;
    border-radius: 50%;
}

#price-range-min {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#price-range-max {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.price-values {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: var(--text-color);
    margin-top: 40px;
}

.color-options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.color-option {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    box-shadow: var(--shadow-sm);
    transition: var(--transition-base);
}

.color-option:hover {
    transform: scale(1.1);
}

.size-options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.size-option {
    padding: 5px 10px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    background: var(--primary-color);
    cursor: pointer;
    color: var(--secondary-color);
    transition: var(--transition-base);
}

.size-option:hover {
    background: var(--bg-color);
}

.size-option.active {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--secondary-color);
}
 